	.main{

	overflow: auto;
	padding-bottom: 100px;
	
	
	padding-top: 10px;
	width: 100%;
	margin-top: 10px;
/*	background-color: red;
	color: green;*/

	


}
.main h2{
	color:blue;
}
.content{
	width: 400px;
	
	
}
.content .loading{
	text-align: center;
	margin-left: 525px;
	margin-top: 25px;
}


#Bvideos, #Bpictures, #Bpdf
{
	color: black;
	background-color: white; 
     
    border: 2px solid #008CBA;
	padding: 10px 30px;
	border-radius: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#Bvideos:hover, #Bpictures:hover, #Bpdf:hover{
	background-color:#555555;
    color: white;
}